/*************************************************************************************************
    PROJECT NAME         :         WHITE GRAPHICS

                    DEFAULT VALUES
    FONT                 :         CAIRO , JOSEFIN SANS
    LIGHT GREY		     :         #777
	STEEL GREY			 :		   #64707B
    GREEN 		         :  	   #77BC25
    WHITE                :         #FFF
    BLACK                :         #333 

**************************************************************************************************/

/**************************************************************************************************
                                    GENERAL CSS SECTION
**************************************************************************************************/

html,
body {
	overflow-x: hidden;
    height: 100%;
    font-family: 'Cairo', sans-serif;
}

h1, h2, h3 {
	font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}
h4, p {
    font-size: 16px;
    color: #64707B;
    font-weight: 300;
}
h5{
	color: #333;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}
h6{
	color: #64707B;
    font-weight: bolder;
	font-size: 30px;	
	letter-spacing: 1px;
	display: inline-block;
}
.button{
	background-color: #77BC25;
	border: none;
	border-radius: 0;
	font-size: 10px;
	padding:5px 20px;
	text-transform: uppercase;
	color: #fff;
}
.content-box{
	margin: 30px;
}
.title-left{
	text-align: left;
}
.sub-title{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #777;
	text-transform: capitalize;
	
}
/**************************************************************************************************
                                    GENERAL TITLES SECTION
**************************************************************************************************/
h1{
	font-size: 26px;
	letter-spacing: 2px;
}

h4{
	font-size: 13px;
	letter-spacing: 1px;
}

/**************************************************************************************************
                                    COVER SECTION
**************************************************************************************************/

.cover {
    background-image: url(../Images/cover.jpg);
/*    background: #222;*/
    position: relative;
    height: 250px;
    width: 100%;
    background-position: cover;
}

/**************************************************************************************************
                                    INTRODUCTION SECTION
**************************************************************************************************/
.introduction{
	padding: 50px;
	background-color: #fff;
}
.intro>p{
	padding: 0 0 10px;
	text-align: justify;
}
.intro>h4{
	text-transform: uppercase;
	font-weight: bold;
	color: #77BC25
}
hr{
	background-color: black;
	width: 2px;
}
/*
.bor-one{
	border-right: solid 1px black;
}
.bor-two{
	border-bottom: solid 1px black;
}
.bor.three{
	border-bottom: solid 1px black;
}
.bor-four{
	border-left: solid 1px black;
}
*/
/**************************************************************************************************
                                    HISTORY SECTION
**************************************************************************************************/
.history{
	background-color: #F3F3F3;
	padding: 50px;
	letter-spacing: 1px;
}
.green-box{
	color: #77BC25;
	margin-left: 15px;
}
.counter{
	color: #777;
	font-size: 16px;
	text-transform: uppercase;
	
}
.counter-lg{
	text-transform: uppercase;
	font-size: 26px;
}

i{
	color: #777;
}


/**************************************************************************************************
                                    SERVICES SECTION
**************************************************************************************************/
.service{
	padding: 50px;
}
.service-item-icon>i{
	display: inline-block;
}
.service-item-icon>i:hover{
	color: #77BC25;
	cursor: pointer;
}
.services-detail{
	display: inline-block;
}


















