/***************************FOOTER**************************************/
.footer{
    height: 400px;
    background: #222;
}
.contact-left h2{
    padding-top: 50px;
    color: white;
    font-size: 35px;
}
.contact-left h3{
    margin-top: 0;
    padding-top: 0;
    color:white;
    font-size: 20px;
}
.fi{
    color: green;
    margin: 8px;
}
.para{ padding-top: 8px;
    margin-top: 0;
    color: gray;
    font-size: 12px;
}
.list{
color:white;
    padding: 5px;
}
.list:hover{
    color:#77bc25;
}
.cr1{
    padding-top: 50px;
}
.cr1 h3{
    color:white;
}
.cr1 a{
    color:gray;
    text-decoration: none;

    font-size: 12px;
}
.cr2{
    padding-top: 50px;
   
}
.cr2 h3{
    color:white;
    
}
.cr2 a{
    font-size: 12px;
    color:gray;
    text-decoration: none;
}
.blog{
    padding-top: 50px;
    
}
.blog h3{
    color:white;
    font-size: 20px;
    
}
.blog .media p{
    font-size: 12px;
    color: gray;
}

.media p{
    padding: 15px;
    width: 180px;
    height: 90px;
}
.ending{
    background: black;
    color: white;
    padding: 15px;
    padding-bottom: 0;
    padding: 12px;
    font-size: 12px;
}
.copyright{
    text-align: left;
    padding: 10px;
    margin-right: 20px;
    padding-top: 0;
    display: inline-block;
}
.ending a{
    float: right;
    padding: 0 15px;
}