/*************************************************GENERAL CSS******************************************/
body{
    font-family: 'Josefin Sans';
}
/*************************************************HEADER CSS***********************************************/
.brand{
    float: left;
}
.logo{
    display: block;
}

